.wrapper{
  display: flex;
  justify-content: center;
  background-color: white;
}

header{
  justify-content: center;
  align-items: center;
}
table, th, td {
 
}
  .example-card {
    max-width: 300px;
  }
  